/* biome-ignore lint/suspicious: will fix with tailwind v4 */
@tailwind base;
/* biome-ignore lint/suspicious: will fix with tailwind v4 */
@tailwind components;
/* biome-ignore lint/suspicious: will fix with tailwind v4 */
@tailwind utilities;

:root {
  color-scheme: light dark;
}

.markdown {
  > * + * {
    @apply mt-6;
  }

  hr {
    @apply my-10 border-b border-gray-300 dark:border-gray-600;
  }
  h1 {
    @apply text-4xl font-bold leading-tight text-gray-900 dark:text-gray-100;
  }
  h2 {
    @apply text-2xl font-bold leading-tight text-gray-800 dark:text-gray-100;
  }
  h3,
  h4 {
    @apply mt-10 font-semibold leading-tight text-gray-700 dark:text-gray-200;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h3 code,
  h4 code {
    @apply bg-gray-200 dark:bg-gray-800 text-base font-bold tracking-tighter text-gray-700 dark:text-gray-300 rounded;
  }
  p {
    @apply text-gray-700 dark:text-gray-300 leading-relaxed;
  }
  p a {
    @apply text-gray-900 dark:text-gray-100 underline;
  }
  p code,
  ul code,
  ol code {
    @apply text-sm font-semibold rounded px-1 py-[2px] text-red-700 dark:text-red-200 bg-gray-200 dark:bg-gray-800 text-wrap;
  }
  pre {
    @apply overflow-auto text-xs bg-gray-200 dark:bg-gray-800 dark:border rounded-lg p-4;
  }
  pre code {
    @apply text-sm font-bold text-gray-700 dark:text-gray-300;
  }
  ul li {
    @apply list-disc list-outside ml-4 pl-1 mt-2 text-gray-700 dark:text-gray-300;
  }
  ol li {
    @apply list-decimal list-outside ml-4 pl-1 mt-2 text-gray-700 dark:text-gray-300;
  }
  table {
    @apply w-full border-collapse overflow-x-auto block rounded-lg bg-white dark:bg-gray-900;
  }
  table thead {
    @apply bg-gray-800 text-white dark:bg-gray-700;
  }
  table th {
    @apply px-4 py-2 text-left font-semibold text-sm text-white;
  }
  table tbody tr:nth-child(even) {
    @apply bg-gray-50 dark:bg-gray-800;
  }
  table td {
    @apply px-4 py-2 border-t border-gray-200 dark:border-gray-700 text-sm text-gray-800 dark:text-gray-200 align-top;
  }
  table caption {
    @apply mt-2 text-sm text-gray-500 dark:text-gray-400;
  }

  /* Highlight JS code syntax highlighting theme */
  /* Based on the Ayu color theme */
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }
  .hljs {
    @apply text-gray-500 dark:text-gray-50;
  }
  .hljs-comment {
    @apply text-gray-400 dark:text-gray-500;
  }
  .hljs-punctuation,
  .hljs-operator {
    color: #f2a191;
  }
  .hljs-tag,
  .hljs-attribute,
  .hljs-tag .hljs-name,
  .hljs-tag .hljs-attr {
    color: #55b4d4;
  }
  .hljs-name,
  .hljs-selector-tag {
    color: #f07171;
  }
  .hljs-keyword,
  .hljs-meta .hljs-keyword {
    color: #fa8532;
    font-weight: 700;
  }
  .hljs-literal,
  .hljs-number,
  .hljs-constant {
    color: #a37acc;
  }
  .hljs-string,
  .hljs-meta .hljs-string {
    color: #94978d;
  }
  .hljs-regexp {
    color: #4cbf99;
  }
  .hljs-built_in,
  .hljs-type,
  .hljs-title,
  .hljs-section {
    color: #eba400;
    font-weight: 700;
  }
  .hljs-variable,
  .hljs-template-variable,
  .hljs-symbol {
    color: #22a4e6;
  }
  .hljs-meta,
  .hljs-doctag,
  .hljs-attribute,
  .hljs-deletion,
  .hljs-addition,
  .hljs-bullet,
  .hljs-code {
    color: #e59645;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: 700;
  }
  pre code.hljs,
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background-color: transparent;
  }
  pre code.hljs,
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background-color: transparent;
  }
}

.animate-bounce-dog1 {
  animation: bounce 1s infinite 0.2s;
  @apply filter invert-0 dark:invert;
}
.animate-bounce-dog2 {
  animation: bounce 1s infinite 0.4s;
  @apply filter invert-0 dark:invert;
}
.animate-bounce-dog3 {
  animation: bounce 1s infinite 0.6s;
  @apply filter invert-0 dark:invert;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
